.full {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 2rem 4rem;
  border-radius: 10px;
  background-color: white;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  color: black;
  width: 30%;
  min-width: 400px;
  margin: 0 auto;
  position: absolute;
  z-index: 4;
}

.spacer {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.inputs {
  text-align: center;
}

.input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  text-align: left;
  outline: transparent;
  transition: border-color 0.5s ease;
  display: block;
  margin: 1rem 0;
  width: calc(100% - 3rem);
}

.input:focus {
  border-color: hsl(201deg 89% 18%);
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-width: 2px;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 0.5rem;
  text-align: left;
  outline: transparent;
  transition: border-color 0.5s ease;
  cursor: pointer;
  width: auto;
}
