<!DOCTYPE html>
<html>
  <head>
    <title>Account</title>
    <link rel="stylesheet" href="../css/account.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
  </head>
  <body>
    <div id="loginBox">
      <p class="loginText">Email</p>
      <input type="text" id="emailInput" class="accountInput" />
      <p class="loginText">Password</p>
      <input type="text" id="passwordInput" class="accountInput" />

      <div id="centeredButtons">
        <button id="signInButton" class="accountButton">Sign In</button>
        <hr id="signInLine">
        <button id="createAccountButton" class="accountButton">
          Create Account
        </button>
      </div>
    </div>
  </body>
  <script src="../js/account.js"></script>
  <script src="../js/navbar.js"></script>
</html>
