<!DOCTYPE html>
<html>
  <head>
    <title>Account</title>
    <link rel="stylesheet" href="../css/account.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
  </head>
  <body>
    <div id="loggedInInfo">
      <div id="accountInfo1">
        <p class="loginText yTitle">Your Information</p>
        <img src="../images/pencil.png" alt="" id="yEdit" class="hoverClass">
        <hr class="yLine">
        <div id="accountInfo2">
          <p id="yName" class="yText">Name:</p>
          <input type="text" id="yNameInput" class="yInput" disabled>

          <p id="yEmail" class="yText">Email:</p>
          <input type="text" id="yEmailInput" class="yInput" disabled>

          <p id="yPassword" class="yText">Password:</p>
          <input type="text" id="yPasswordInput" class="yInput" disabled>

          <p id="yPhone" class="yText">Phone Number:</p>
          <input type="text" id="yPhoneInput" class="yInput" disabled>

          <p id="yAddress" class="yText">Address:</p>
          <input type="text" id="yAddressInput" class="yInput" disabled>
        </div>
        
      </div>
      <div id="accountInfo11">
        <p class="loginText yTitle">Your Orders</p>
        <hr class="yLine">
      </div>
      <div id="logoutDiv">
        <div id="logoutButton" class="hoverClass logoutButtons">Log Out</div>
        <div id="saveEditButton" class="hoverClass logoutButtons">Save</div>
      </div>
    </div>  
    <div id="loginBox">
      <p class="loginText">Email</p>
      <input type="text" id="emailInput" class="accountInput" />
      <p class="loginText">Password</p>
      <input type="text" id="passwordInput" class="accountInput" />

      <div id="centeredButtons">
        <div id="signInButton" class="accountButton">Sign In</div>
        <hr id="signInLine">
        <div id="createAccountButton" class="accountButton">
          Create Account
        </div>
      </div>
    </div>
    <div id="signupBox">
      <p class="loginText">Name</p>
      <input type="text" id="signupNameInput" class="accountInput" />
      <p class="loginText">Email</p>
      <input type="text" id="signupEmailInput" class="accountInput" />
      <p class="loginText">Password</p>
      <input type="text" id="signupPasswordInput" class="accountInput" />
      <p class="loginText">Confirm Password</p>
      <input type="text" id="confirmPasswordInput" class="accountInput" />
      <div id="centeredButtons">
        <div id="signupCreateAccountButton" class="accountButton">
          Create Account
        </div>
      </div>
    </div>
  </body>
  <script src="../js/jquery.js"></script>
  <script src="../js/account.js"></script>
  <script src="../js/navbar.js"></script>
</html>
