<!DOCTYPE html>
<html>
    <head>
        <title>
            Account
        </title>
        <link rel="stylesheet" href="../css/account.css">
        <link rel="stylesheet" href="../css/navbar.css">
    </head>
    <body>
        <div id=loginBox>
            <p class=loginText>Email</p>
            <input type="text" id="emailInput">
            <p class=loginText>Password</p>
            <input type="text" id="passwordInput" class="accountInput">

            <button id=signInButton class="accountButton">Sign In</button>
            <button id=createAccountButton class="accountButton">Create Account</button>

        </div>
    </body>
    <script src="../js/account.js"></script>
    <script src="../js/navbar.js"></script>
</html>