<!DOCTYPE html>
<html>
    <head>
        <title>
            Your Cart
        </title>
        <link rel="stylesheet" href="../css/cart.css">
        <link rel="stylesheet" href="../css/navbar.css">
    </head>
    <body>
        <div id="cartDiv">
            <p id="yourCart">Your Cart</p>
            <table id="cartTable">
                <tr id="cartHeader">
                    <th style="width: auto; min-width: 100px">Item</th>
                    <th style="width: 100px">Qty</th>
                    <th style="width: 100px">Price</th>
                    <th style="width: 100px"></th>
                </tr>
                <tr>
                    <td style="width: auto; min-width: 100px">Item</td>
                    <td style="width: 100px">Qty</td>
                    <td style="width: 100px">Price</td>
                    <td style="width: 100px; color: #b40000;">remove</td>
                </tr>
            </table>
        </div>
    </body>
    <script src="../js/jquery.js"></script>
    <script src="../js/cart.js"></script>
    <script src="../js/navbar.js"></script>
</html>