<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
  </head>
  <body>
    <div id="menuDiv">
      <input type="text" id="menuSearch" placeholder="Search our menu..." />
      <div id="menuSearchButton">Search</div>
      <div id="entreesDiv" class="menuSection">
        <p class="menuSectionHeader">ENTREES</p>
        <div class="addItemDiv">
          <p>+</p>
        </div>
      </div>
      <div id="sidesDiv" class="menuSection">
        <p class="menuSectionHeader">SIDES</p>
      </div>
      <div id="dessertsDiv" class="menuSection">
        <p class="menuSectionHeader">DESSERTS</p>
      </div>
    </div>
  </body>
  <script src="../js/jquery.js"></script>
  <script src="../js/navbar.js"></script>
  <script src="../js/menu.js"></script>
</html>
