<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
  </head>
  <body>
    <div id="menuDiv">
      <input type="text" id="menuSearch" placeholder="Search our menu..." />
      <div id="menuSearchButton">Search</div>
      <div id="entreesDiv" class="menuSection">
        <p class="menuSectionHeader">ENTREES</p>
      </div>
      <div id="sidesDiv" class="menuSection">
        <p class="menuSectionHeader">SIDES</p>
      </div>
      <div id="dessertsDiv" class="menuSection">
        <p class="menuSectionHeader">DESSERTS</p>
      </div>
      <div id="addDiv1" class="descriptionDiv1">
      </div>
      <div id="addDiv2" class="descriptionDiv2">
        <p class="addTexts">Image URL</p>
        <input type="text" class="addInputs" id="addUrlInput"/>
        <p class="addTexts">Name</p>
        <input type="text" class="addInputs" id="addNameInput"/>
        <p class="addTexts">Price</p>
        <input type="text" class="addInputs" id="addPriceInput"/>
        <p class="addTexts">Description</p>
        <input type="text" class="addInputs" id="addDescriptionInput"/>
        <p class="addTexts" style="float: left;">Available</p>
        <input type="checkbox" id="isAvailable">
        <div id="addMenuItemButton" class="descriptionAddToCart">Add Menu Item</div>
      </div>
      </div>
    </div>
  </body>
  <script src="../js/jquery.js"></script>
  <script src="../js/navbar.js"></script>
  <script src="../js/menu.js"></script>
</html>
