<!DOCTYPE html>
<html>
  <head>
    <title>Orders</title>
    <link rel="stylesheet" href="../css/orders.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
  </head>
  <body>
    <div id="activeOrders">
      <div class="orders">
        <p class="updateMenuText">Update Menu</p>
      </div>
      <div class="orders">
        <p class="updateMenuText">Update Menu</p>
      </div>
      <div class="orders">
        <p class="updateMenuText">Active Orders</p>
      </div>
      <table id="orderTable" style="width: 100%">
        <tr>
          <th>Reorder</th>
          <th>Order#</th>
          <th>Time</th>
          <th>View Order</th>
          <th>Complete Order</th>
        </tr>
      </table>
    </div>
  </body>
  <script src="../js/orders.js"></script>
  <script src="../js/navbar.js"></script>
</html>
