<!DOCTYPE html>
<html>
    <head>
        <title>
            Staff
        </title>
        <link rel="stylesheet" href="../css/staff.css">
        <link rel="stylesheet" href="../css/navbar.css">
    </head>
    <body>
        <div id="staffDiv">
            <div id="updateMenu" class="updateMenu">
                <div class="menuClick"></div>
                <p class="updateMenuText">Update Menu</p>
            </div>
            <div id="viewOrders" class="viewOrders">
                <div class="orderClick"></div>
                <p class="viewOrdersText">View Orders</p>
            </div>
        </div>
    </body>
    <script src="../js/staff.js"></script>
    <script src="../js/navbar.js"></script>
</html>