body{
    margin: 0;
}
#cartDiv {
    position: absolute;
    width: 100%;
    height: calc(100% - 80px);
    top: 80px;
}
#yourCart {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #999999;
    position: relative;
    margin-left: 40px;
    margin-top: 40px;
}
#cartTable {
    position: relative;
    margin-left: 40px;
    margin-top: 40px;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #999999;
    border-spacing: 0;
    min-width: 400px
}

#cartTable th {
    border-bottom: 1px solid #999999;
    text-align: left;
}
#cartTable td {
    border-bottom: 1px solid #999999;
    text-align: left;
    vertical-align: middle;
    height: 60px;
}
#checkOutButton {
    width: 240px;
    height: 60px;
    background-color: #b40000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: auto;
}
#checkOutButton:hover {
    cursor: pointer;
}

.hoverClass:hover {
    cursor: pointer;
}
#checkoutOverlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 90%;
    z-index: 5;
    display: none;
}
#pickupDiv {
    position: fixed;
    height: 70%;
    width: 30%;
    background-color: white;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    display: none;
}


#pickupInstructions {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#pickupTime {
    position: absolute;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    margin-left: 20px;
    top: 30%;
    line-height: 30px;
}
#inputTime {
    position: absolute;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 180px;
    top: 30%;
    height: 30px;
}
#carDescription {
    position: absolute;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    margin-left: 20px;
    top: 40%;
    line-height: 30px;
}
#inputCarDescription {
    position: absolute;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 200px;
    top: 40%;
    height: 28px;
    width: 45%;
}
#additionalInstructions {
    position: absolute;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    margin-left: 20px;
    top: 50%;
    line-height: 30px;
}
#inputAdditionalInstructions {
    position: absolute;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 20px;
    top: 55%;
    height: 100px;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
}
#instructionsContinue {
    width: 200px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: #b40000;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
}

#paymentDiv {
    position: fixed;
    height: 70%;
    width: 30%;
    background-color: white;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    display: none;
}
#choosePayment {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#paymentDiv1 {
    height: 350px;
    width: 350px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    top: 160px;
}
#paymentDiv11 {
    height: 150px;
    width: 150px;
    left: 0;
    top: 0;
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 3px 1px #999999;
    
}
#paymentDiv12 {
    height: 150px;
    width: 150px;
    right: 0;
    top: 0;
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 3px 1px #999999;
    text-align: center;
}
#paymentDiv13 {
    height: 150px;
    width: 150px;
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 3px 1px #999999;
    text-align: center;
}
#paymentDiv14 {
    height: 150px;
    width: 150px;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 3px 1px #999999;
    text-align: center;
}
#thanksDiv {
    position: fixed;
    height: 70%;
    width: 30%;
    background-color: white;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    display: none;
}
#thanks {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 100px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#orderReadyTime {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 200px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
#seeYouThen {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 226px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
#viewReceipt {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 100px;
    color: #b40000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
#backToMenu {
    width: 300px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: #b40000;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
}
.exitX {
    position: absolute;
    top: 15px;
    right: 20px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #999999;
    width: 20px;
}