body {
  margin: 0;
  background-color: #efefef;
}

#staffDiv {
  margin-top: 80px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 80%;
  height: calc(100vh - 80px);
  margin-left: 10%;
}

#staffDiv > div {
  position: relative;
  min-width: 400px;
  width: 30%;
  height: 400px;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  box-shadow: 2px 2px 5px 2px #999999;
  padding-top: 20px;
}

.menuClick {
  position: relative;
  width: 60%;
  height: 60%;
  margin-left: 20%;
  box-shadow: 2px 2px 5px 2px #999999;
}

.orderClick {
  position: relative;
  width: 60%;
  height: 60%;
  margin-left: 20%;
  box-shadow: 2px 2px 5px 2px #999999;
}

.updateMenuText {
  font-size: 30px;
}

.icon {
  width: 70%;
  height: auto;
}

#order {
  /* display: none; */
  margin: 80px 50px;
  padding: 100px 0;
  display: none;
}

.header-text {
  font-size: 50px;
  margin: 0 0 50px 0;
}

.order_table {
  margin-top: 30px;
  font-size: 25px;
  border-collapse: collapse;
}

.order_table_button {
  color: #b40000;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}

.table_row {
  border-top: 1px solid black;
  margin: 20px 0;
  padding: 20px 0;
}

th {
  text-align: left;
  padding-bottom: 20px;
}

td {
  padding: 20px 0;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media screen and (max-width: 800px) {
  #staffDiv {
    display: block;
  }
}
