#editHoursScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 5;
}
#editHoursBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
}
#editHoursDiv {
  position: absolute;
  width: 500px;
  height: 600px;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 20px;
}
#xIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  opacity: 50%;
  cursor: pointer;
}

#editHoursScreenButton {
  background-color: #29abe2;
  width: 100px;
  height: 40px;
  margin: 20px auto 40px auto;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #f4f4f4;
  border-radius: 20px;
  line-height: 40px;
  cursor: pointer;
}
#dayCirclesDiv {
  position: relative;
  width: 80%;
  margin: auto;
  height: 40px;
  margin-top: 40px;
}
#editHoursTimeDiv {
  position: relative;
  width: 80%;
  margin: auto;
  height: 50px;
  margin-top: 10px;
}
#editHoursTimeDiv p {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 50px;
  color: #999999;
  margin: 0;
}
#editHoursTimeDiv input {
  float: left;
  margin: 5px 10px 0px 10px;
  height: 30px;
  font-size: 20px;
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 4px;
}
.editHoursDayDiv {
  position: relative;
  width: 80%;
  margin: auto;
  height: 40px;
  margin-top: 10px;
}
.editHoursDayDiv p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #999999;
}
.dayCircle {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  float: left;
  text-align: center;
  margin-left: 33px;
  line-height: 40px;
  color: #cccccc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  cursor: pointer;
}
.dayCircleOn {
  background-color: #999999;
}
.dayCircleOff {
  background-color: #eeeeee;
}
#weekRangeDiv {
  width: 80%;
  margin: auto;
  position: relative;
}
#weekRangeDiv p {
  margin: 80px 0px 30px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #999999;
}
#weekRangeDiv input {
  margin: 5px 10px 0px 10px;
  height: 30px;
  font-size: 20px;
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 4px;
  position: absolute;
  top: -12px;
  left: 60px;
}
