.calendarColumn {
  width: 14.2857%;
  float: left;
  height: 1464px;
  margin-top: 60px;
  margin-bottom: 30px;
  position: relative;
}
.calendarColumnNotLast {
  border-right: 1px #cccccc solid;
}
.columnDateHeader {
  height: 52px;
  width: 52px;
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  margin: 4px auto 0px auto;
  border-radius: 26px;
}
.currentDate {
  background-color: #eeeeee;
}
.columnDay {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
  margin: 0;
  text-align: center;
  color: #999999;
  margin: 8px 0px 4px 0px;
}
.columnDate {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  position: relative;
  margin: 0;
  text-align: center;
  color: #999999;
  margin: 4px 0px 8px 0px;
}
.columnOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

#calendarTest {
  width: 600px;
  height: 1464px;
  padding: 0 10px;
  margin: 0 auto;
  background: #ececec;
  position: relative;
  overflow: hidden;
}
.eventTest {
  background: #fff;
  color: #4b6ea8;
  border: 1px solid #ccc;
  border-left: 4px solid #4b6ea8;
  position: absolute;
  padding: 0 10px;
  font-weight: bold;
  font-size: 13px;
}
