.meetingNameColor {
  float: left;
  margin-left: 20px;
  border-radius: 7px;
  width: 14px;
  height: 14px;
  background-color: #999999;
}

.meetingNames {
  line-height: 16px;
  font-size: 16px;
  margin-bottom: 0px;
  margin-left: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meetingBlock {
  height: 30px;
  position: relative;
  margin-left: 50px;
  margin-top: 10px;
}
.meetingBlockColor {
  height: 14px;
  width: 14px;
  border-radius: 7px;
  background-color: #999999;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  float: left;
}
.meetingBlockName {
  line-height: 30px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  float: left;
  margin: 0;
  margin-left: 10px;
}
