.calendarEvent {
  position: relative;
  top: 0;
  height: 100%;
  width: 50%;
  margin: auto;
  margin-top: 0px;
  border-radius: 10px;
  cursor: pointer;
  /* display: grid;
  place-items: center; */
  text-align: center;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.2rem;
}
