#createEventScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 5;
}
#createEventBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
}
#createEventDiv {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 20px;
}
#xIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  opacity: 50%;
  cursor: pointer;
}
#eventNameInput {
  position: relative;
  margin-top: 30px;
  margin-left: 75px;
  height: 30px;
  border: 0px;
  border-bottom: 1px solid #999999;
  width: 350px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #999999;
}
#eventNameInput:focus {
  outline: none;
}
#eventNameInput::placeholder {
  color: #cccccc;
}
#calendarIcon {
  position: absolute;
  top: 90px;
  left: 75px;
  height: 30px;
  opacity: 50%;
}
#calendarSelect {
  position: absolute;
  top: 90px;
  left: 120px;
  height: 30px;
  opacity: 50%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  border: 0px;
  color: #666666;
}
#startText {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 150px;
  left: 75px;
  margin: 0;
  color: #999999;
}
#startDateInput {
  height: 30px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 180px;
  left: 75px;
  width: 150px;
  margin: 0;
  opacity: 0.5;
}
#startTimeInput {
  height: 30px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 180px;
  right: 75px;
  width: 150px;
  margin: 0;
  opacity: 0.5;
}
#endText {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 230px;
  left: 75px;
  margin: 0;
  color: #999999;
}
#endDateInput {
  height: 30px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 260px;
  left: 75px;
  width: 150px;
  margin: 0;
  opacity: 0.5;
}
#endTimeInput {
  height: 30px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 260px;
  right: 75px;
  width: 150px;
  margin: 0;
  opacity: 0.5;
}
#timezoneIcon {
  position: absolute;
  top: 330px;
  left: 75px;
  height: 30px;
  opacity: 50%;
}
#timezoneSelect {
  position: absolute;
  top: 330px;
  left: 120px;
  height: 30px;
  opacity: 50%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  border: 0px;
  color: #666666;
}
#createEventScreenButton {
  background-color: #29abe2;
  width: 200px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 30px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #f4f4f4;
  border-radius: 20px;
  line-height: 40px;
  cursor: pointer;
}
#removeEventButton {
  width: 198px;
  height: 38px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 90px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #29abe2;
  border-radius: 20px;
  border: 1px solid #29abe2;
  line-height: 40px;
  cursor: pointer;
}
#employeeIcon {
  position: absolute;
  top: 80px;
  left: 75px;
  height: 50px;
  opacity: 50%;
}
#employeeSelect {
  position: absolute;
  top: 90px;
  left: 120px;
  height: 30px;
  opacity: 50%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  border: 0px;
  color: #666666;
}
