#loginScreen {
  text-align: center;
  background: rgb(6, 123, 242, 1);
  background: linear-gradient(
    90deg,
    rgba(6, 123, 242, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#signInDiv1 {
  width: 400px;
  height: 500px;
  background: rgb(0, 212, 255, 1);
  background: linear-gradient(
    90deg,
    rgba(6, 123, 242, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateX(-200px) translateY(-50%);
  z-index: 2;
}
#signInDiv2 {
  width: 400px;
  height: 500px;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateX(200px) translateY(-50%);
  z-index: 2;
  overflow: hidden;
}
#signInDiv21 {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
}
#signInShadow1 {
  width: 300px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  z-index: 1;
  transform: translateX(-200px);
  box-shadow: 0px 210px 80px rgb(0, 37, 58);
}
#signInShadow2 {
  width: 300px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  z-index: 1;
  transform: translateX(200px);
  box-shadow: 0px 210px 80px rgb(0, 37, 58);
}
#signInBackgroundBubble1 {
  position: absolute;
  height: 1000px;
  width: 1000px;
  border-radius: 500px;
  background-color: #00000010;
  top: 0;
  left: 0;
  transform: translateX(-400px) translateY(-400px);
  z-index: 1;
}
#signInBackgroundBubble2 {
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 250px;
  background-color: #00000020;
  bottom: 0;
  right: 0;
  transform: translateX(250px) translateY(250px);
  z-index: 1;
}
#signInBackgroundBubble3 {
  position: absolute;
  height: 1000px;
  width: 1000px;
  border-radius: 500px;
  background-color: #00000010;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: translateX(-100px) translateY(950px);
  z-index: 1;
}
#signInBackgroundBubble4 {
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 150px;
  background-color: #00000008;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  transform: translateX(400px) translateY(-300px);
  z-index: 1;
}
#welcomeTitle {
  top: 10%;
  position: relative;
  color: #00000070;
  font-size: 30px;
  font-weight: 500;
}
#welcomeText {
  width: 70%;
  margin: auto;
  text-align: left;
  top: 15%;
  position: relative;
  color: #00000070;
  font-size: 20px;
}
.signInTitle {
  top: 10%;
  position: relative;
  color: #00000070;
  font-size: 30px;
  margin-bottom: 80px;
}
.signInText {
  text-align: left;
  margin: 0px 0px 10px 50px;
  color: #999999;
  font-size: 20px;
}
.signInInput {
  position: relative;
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
  border: 1px solid #999999;
  height: 25px;
  color: #999999;
}
.signInInput:focus {
  outline: 1px solid #29abe2;
}
.signInButton {
  margin: auto;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background: rgb(0, 212, 255, 1);
  background: linear-gradient(
    90deg,
    rgba(6, 163, 242, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  font-size: 20px;
  line-height: 40px;
  color: #ffffff;
}
.hoverClass:hover {
  cursor: pointer;
}
.signUpDiv {
  width: 170px;
  font-size: 12px;
  margin: auto;
}
#signUpText1 {
  color: #999999;
  float: left;
}
#signUpText2 {
  color: rgba(0, 183, 255, 1);
  float: right;
}
#signUpText3 {
  color: #999999;
}
#signUpDiv1 {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  transform: translateX(400px);
}

@keyframes signInOut {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-400px);
  }
}
@keyframes signInIn {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes signUpOut {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(400px);
  }
}
@keyframes signUpIn {
  0% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(0px);
  }
}
.signInOut {
  animation-name: signInOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.signInIn {
  animation-name: signInIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.signUpOut {
  animation-name: signUpOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.signUpIn {
  animation-name: signUpIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.signUpTitle {
  position: relative;
  color: #00000070;
  font-size: 30px;
}
#backToLogin {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  color: #999999;
}
#forgotPassword {
  color: rgba(0, 183, 255, 1);
  cursor: pointer;
}
